[SOURCE]
# the base url of the source site (e.g., Tableau Server)
url = https://tableau.slalom.com
# the site name of the source site (leave blank if Default)
site_content_url = TCMDev
# the personal access token name
access_token_name = TCM_SERVER

[DESTINATION]
# the base url of the destination site (e.g., Tableau Cloud)
url = https://10ax.online.tableau.com
# the site name of the destination site
site_content_url = testsite
# the personal access token name
access_token_name = TCM_CLOUD

[LOG]
# The relative path of the LOG folder
folder_path = ./LOG/
# The relative path of the FILES folder
file_path = ./FILES/
# The relative path of the MANIFEST folder
manifest_folder_path = ./MANIFEST/

[USERS]
# The default email domain to append to usernames
email_domain = slalom.com

[MANIFEST]
# The absolute path of the manifest to be imported
previous_manifest = 

[FILTERS]
# The project to be skipped during migration
skipped_project = Columbus
# Where content from skipped_project will be mapped
skipped_parent_destination = default
# Content tag to be migrated
migrate_tag = MOVE ME
# The project to be migrated
migrate_project = United States
# Comma-separated list of usernames to be migrated
user_list = jsmith,jdoe